body {
    font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    line-height: 1.4em;
    font-weight: 300;
    background-color: #f5f5f5;
}

aside {
    position: absolute;
    top: 8px;
    left: -300px;

    width: 272px;

    padding: 10px;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, .6);
}

aside > header > h3 {
    margin: 10px 0;
    font-size: 24px;
    font-weight: 500;
}

aside a {
    color: #b83f45;
}

aside a:hover {
    text-decoration: underline;
    color: #787e7e;
}

aside hr {
    margin: 20px 0;
    border: 0;
    border-top: 1px dashed #c5c5c5;
    border-bottom: 1px dashed #f7f7f7;
}

aside > .content {
    position: relative;

    margin: 20px 0 60px 0;
    padding: 10px;
    background-color: rgba(0, 0, 0, .04);
    border-radius: 5px;
}

aside > .content::after {
    content: '';
    position: absolute;
    top: 100%;
    right: 30px;
    border: 13px solid transparent;
    border-top-color: rgba(0, 0, 0, .04);
}

aside > .content > p::before {
    content: '“';
    position: absolute;
    top: 3px;
    left: 3px;

    font-size: 50px;
    opacity: .15;
}

aside > .content > p {
    color: #4d4d4d;
    font-style: italic;
}

aside > .content > p::after {
    content: '”';
    position: absolute;
    bottom: -25px;
    right: 3px;
    font-size: 50px;
    opacity: .15;
}

aside > .content > a {
    position: absolute;
    right: 0;
    bottom: -40px;
}

aside > footer > em {
    color: #4d4d4d;
    font-style: italic;
}

.todo-app {
    position: relative;
    width: 550px;
    margin: 130px auto 40px auto;
}

.todo-app > h1 {
    position: absolute;
    top: -70px;
    width: 100%;
    text-align: center;
    font-size: 100px;
    font-weight: 100;
    color: rgba(175, 47, 47, 0.15);
}

.todo-app > .app-body {
    background-color: #fff;
    box-shadow: 0 2px 4px 0 rgb(0 0 0 / 20%), 0 25px 50px 0 rgb(0 0 0 / 10%);
}

.todo-app > .app-body > .todo-input {
    display: block;
    position: relative;

    width: 100%;

    margin: 0;
    border: none;
    padding: 16px 16px 16px 60px;

    box-sizing: border-box;
    font-size: 24px;
    line-height: 1.4em;
    background-color: rgba(0, 0, 0, 0.004);
    z-index: 10;
}

.todo-app > .app-body > .todo-input:focus {
    outline: none;
}

.todo-list {
    border-top: 1px solid #e6e6e6;
}

.todo-list > li {
    position: relative;
    border-bottom: 1px solid #ededed;
    font-size: 24px;
}

.toggle-all {
    position: absolute;
    right: 100%;
    bottom: 100%;
    width: 1px;
    height: 1px;
    opacity: 0;
}

.toggle-all + label {
    position: absolute;
    top: 13px;
    left: -13px;
    width: 60px;
    height: 34px;
    transform: rotate(90deg);
    z-index: 100;
}

.toggle-all + label:before {
    content: '❯';
    font-size: 22px;
    color: #e6e6e6;
    padding: 10px 27px 10px 27px;
}

.toggle-all:checked + label:before {
    color: #737373;
}

.toggle {
    position: absolute;
    top: 0;
    bottom: 0;

    width: 40px;
    height: 40px;
    margin: auto 0;
    border: none;

    text-align: center;
    opacity: 0;
}

.toggle + label { 
    display: inline-block;
    padding: 15px 15px 15px 60px;
    line-height: 1.2;
    background: url('../img/check_off.svg') no-repeat center left;
}

.toggle:checked + label { 
    background-image: url('../img/check_on.svg');
    color: #d9d9d9;
    text-decoration: line-through;
}

.todo-list > li > .destory {
    position: absolute;
    top: 50%;
    right: 10px;

    font-size: 20px;
    line-height: 20px;
    color: #cc9a9a;
    opacity: 0;
    border: none;
    transition: color 0.2s ease-out;
    transform: translateY(-50%);
    background-color:transparent;
}

.todo-list > li:hover > .destory {
    opacity: 1;
}

.app-footer {
    display: none;
    height: 20px;
    padding: 10px 15px;
    border-top: 1px solid #e6e6e6;
    text-align: center;
    color: #777;
}

.app-footer a {
    text-decoration: none;
    color: #777;
}

.app-footer > .todo-count {
    float: left;
    text-align: left;
}

.filters {
    margin: 0;
    padding: 0;
    list-style: none;
    position: absolute;
    right: 0;
    left: 0;
}

.filters > li {
    display: inline;
}

.filters > li > a {
    margin: 3px;
    padding: 3px 7px;
    border: 1px solid transparent;
    cursor: pointer;
    border-radius: 3px;
}

.filters > li > .selected {
    border-color: rgba(175, 47, 47, 0.2) !important;
}

.filters > li > a:hover {
	border-color: rgba(175, 47, 47, 0.1);
}

.todo-app > footer {
    margin: 65px auto 0;
    color: #bfbfbf;
    font-size: 10px;
    text-shadow: 0 1px 0 rgb(255 255 255 / 50%);
    text-align: center;
}

.todo-app > footer a {
    color: inherit;
}

.todo-app > footer a:hover {
    text-decoration: underline;
}

.clear-completed {
    display: none;
    position: relative;
    
    float: right;
    line-height: 20px;
    vertical-align: middle;

    border: 0;
    padding: 0;
    background: none;
    color: #777;
    font: inherit;
    cursor: pointer;
}

.clear-completed:hover {
    text-decoration: underline;
}

/* end for basic-width */
@media (min-width: 1150px) {

aside {
    left: 8px;
}

}
/* end for min-width: 1150px */
